<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="{{ site.encoding }}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
  <link rel="shortcut icon" type="image/x-icon /" href="https://markolas11.github.io/favicon.ico">
</head>
